/* Header */
.main-header-botton-bar {
  justify-content: space-evenly;
}

/* Main */
.product-card {
  max-width: 21rem;
}

.container-info-card .name {
  opacity: 0;
  transition: opacity  0.5s ease;
}
.product-card:hover .name {
  opacity: 1; 
}