:root {
  --yellow: #eac926;
  --blue: #03264c;
  --sky-blue: #1259c3;
  --dark-grey: #666;
  --ligth-grey: #ebebeb;
  --green: #39b54a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
/* Header */
header {
  width: 100vw;
  background-color: var(--yellow);
  padding-bottom: 1rem;
}
.logo-container {
  width: 200px;
  margin: 0;
}
.logo-container img {
  width: 70%;
  margin: auto;
  padding: 1rem;
}
.search-container {
  width: 100%;
  margin: auto;
  text-align: center;
}
.ofertas-container {
  margin: 1rem;
  text-align: center;
}

.ofertas-container p {
  display: inline;
  font-size: 1.2rem;
}

nav .navbar-left,
.navbar-right {
  display: none;
  padding: 1rem;
  font-size: 1.2rem;
}
nav .navbar-left .list li a {
  text-decoration: none;
  color: black;
}
nav .navbar-right .list li a {
  text-decoration: none;
  color: black;
}
.burger-menu {
  margin: auto;
  text-align: center;
}
.burger-menu .fa-bars {
  font-size: 2.3rem;
  color: white;
  background-color: var(--sky-blue);
  padding: 1rem;
  border-radius: 0.4rem;
}

/* Main */
main {
  background-color: var(--ligth-grey);
  width: 100vw;
  margin: auto;
}
.container-banner {
  margin: auto;
  width: 100vw;
  height: auto;
  /* background-image: url("/images/img-home-banner.jpg"); */
 /*  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; */
}
.container-banner img {
  width: 100%;
  height: auto;
}
.container-cards {
  margin: auto;
  width: 90%;
  padding: 1rem;
}
.container-cards h3 {
  font-size: 2.4rem;
  color: var(--dark-grey);
  padding: 1rem;
}
.product-card {
  max-width: 350px;
  background-color: white;
  margin: 1rem;
  text-align: center;
}
.container-info-card {
  margin: auto;
  padding: 1.5rem;
  text-align: left;
  border-top: solid 1px #ebebeb;
}

.product-card img {
  width: 80%;
  margin: auto;
  padding: 1rem;
}
.container-info-card .fa-truck {
  color: var(--green);
  font-size: 2rem;
  padding: 1rem;
}
.container-info-card .price {
  font-size: 1.8rem;
  padding: 1rem 1rem 0 1rem;
}

.container-info-card .descuento {
  color: var(--green);
  font-weight: normal;
  font-size: 1.6rem;
  padding: 0 1rem 1rem 1rem;
}
.container-info-card .name {
  color: var(--dark-grey);
  font-size: 1.6rem;
  padding: 1rem;
}
/* footer */
footer {
  margin: auto;
  padding: 2rem;
}

.info-footer {
  display: block;
  margin: auto;
  width: 80%;
  padding: 2rem;
  text-align: center;
}
.fa-credit-card,
.fa-gift,
.fa-user-shield {
  color: var(--sky-blue);
  font-size: 3rem;
  margin-bottom: 1rem;
}
.info-footer h5 {
  font-size: 1.6rem;
  color: var(--dark-grey);
}
.info-footer p {
  font-size: 1.2rem;
  color: var(--dark-grey);
}
