<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi primer documento en html</title>
  </head>
  <body>
    <h1>El titulo de nuestro documento</h1>
    <h2>Un subtitulo cualquiera</h2>
    <img src="/images/escudo-riverjpg.png"  width="300px" height="300px" alt="River">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos esse
      veritatis quasi fugit eligendi nam. Dolores at pariatur nam, perspiciatis
      soluta numquam amet delectus? Labore ipsam unde sed suscipit quis.
    </p>

  </body>
</html>
